.content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1540px;
}

.address-form {
   margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.address-form__title {
  font-size: 28px;
  text-align: center;
}

.address-form__group {
  width: 100%;
  margin-bottom: 20px;
}

.address-form__label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.address-form__input {
  width: 100%;
  height: 35px;
}

.address-form__actions {
  margin: 50px auto 20px;
  width: 100%;
  padding-bottom: 20px;
}

.address-form__submit {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #E64C4C;
  color: #fff;
  font-weight: bold;
}

/* エラー */
.address-form__error {
  color: red;
  font-size: 12px;
}

@media screen and (max-width: 850px) {
  .address-form {
    width: 400px;
  }
}