.content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1540px;
}

/* ここからタブ */
.form-change {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 40px;
}
.form-change a {
  color: #666;
  text-decoration: none;
}
.form-change a.active {
  color: #ff0000;
  font-weight: bold;
}
.form-change__recommend{
  margin-left: 100px;
}
/* ここまでタブ */

.item-group{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.item-group__row{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* 画像 */
.item-group__img {
  width: 100%;
  height:120%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.item-group__img-inner {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.item-group__name-sold{
  display: flex;
  width :100%;
  border: none;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}
.item-group__name{
  width:70%
}

.item-group__sold{
  color:#ff0000;
  font-weight: bold;
  font-size: 20px;
}