.content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1540px;
}

/* start　プロフィール画像 */
.profile-box {
  display: flex;
  align-items: center;
  gap: 40px;
}
.profile-thumb {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #e0e0e0;
  overflow: hidden;
  flex-shrink: 0;
}

.profile-thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transform: scale(1.65);
}

.profile-file {
  display: none;
}
.profile-btn {
  display: inline-block;
  padding: 6px 14px;
  font-size: 12px;
  border: 1px solid #ff5555;
  color: #ff5555;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}
/* end プロフィール画像 */


.profile-form {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.content-title {
  font-size: 28px;
  text-align: center;
}
.form-input {
  width: 100%;
  margin-bottom: 20px;
}
.form__label--item {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  
}
.form__input--item {
  width: 100%;
  height: 35px;
}
.form__button {
  margin-top: 20px;
  width: 100%;
}
.form__button-submit {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #E64C4C;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

/* エラー */
.form__error {
  color: red;
  font-size: 12px;
}

@media screen and (max-width: 850px){
  .profile-form{
    max-width: 400px;
  }
}