.content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1540px;
}

.sell-form {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
}

.content-title {
  font-size: 28px;
  text-align: center;
}

.form-input {
  width: 100%;
  margin-bottom: 20px;
}

.form__label--item {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 18px;
}

.form__input--item {
  width: 100%;
  height: 35px;
}

/* 画像選択 */
.profile-thumb {
  width: 100%;
  min-height: 100px;
  overflow: hidden;
  flex-shrink: 0;
  position: relative;
  background: #fff;
  border: 1px dotted #b5b5b5;
  border-radius: 4px;
}

.profile-thumb img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.profile-file {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  pointer-events: none;
}

.item-img__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: inline-block;
  padding: 6px 14px;
  font-size: 12px;
  border: 1px solid #ff5555;
  color: #ff5555;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
}
/* 画像選択ここまで */

.form__button {
  margin-top: 40px;
  width: 100%;
}

.form__button-submit {
  width: 100%;
  height: 40px;
  border: none;
  background-color: #E64C4C;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

.content-subtitle{
  color:#5F5F5F;
  border-bottom: 1px solid #000000;
}

/* カテゴリチップ */
.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.category-item {
  padding: 3px 8px;
  border: 2px solid #E64C4C;
  border-radius: 20px;
  color: #E64C4C;
  cursor: pointer;
  font-size: 10px;
  transition: 0.2s;
}

/* ラジオボタンを非表示 */
.category-item input {
  display: none;
}

.category-item:has(input:checked) {
  background-color: #E64C4C;
  color: #fff;
}

.form__textarea--item{
  width :100%;
  height: 100px;
}

/* 販売価格　ここから */
.price-input {
  position: relative;
  width: 100%;
}

.price-input .yen {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.form__input--price{
  width: 100%;
  height: 35px;
  padding: 8px 12px 8px 32px;
}
/* 販売価格　ここまで */

/* エラー */
.form__error {
  color: red;
  font-size: 12px;
}

@media screen and (max-width: 850px){
  .sell-form{
    max-width: 400px;
  }
}